body {
  background-color: #16393c;
}
.author {
  color: whitesmoke;
  font-weight: normal;
}
.signBtn {
  display: flex;
  position: ;
}

.neuralNet {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  filter: brightness(65%);
}
