{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
    <title>Python ML Blog</title>
  </head>
  <body>
    <nav class="header">
      <div class="authors">Author: Timothy Pasket</div>
      <div class="pages">
        <ul>
          <li><a href="{% url 'glossary' %}">Glossary</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
        </ul>
        <div class="login">
          Logged in as {{request.user}}
          <span><a href="{% url 'login' %}">Logout</a></span>
        </div>
      </div>
    </nav>
    <div class="titleImage">
      <h2 class="titleH2">Become the Next MVP of the League</h2>
      <div class="mjGif"></div>
    </div>
    <div class="blogSection">
      <a class="addPostLink" href="{% url 'addPostPage' %}">Add New Post</a>
      <hr class="line" />
      <section>
        {% for post in object_list %}
        <p class="onePost">
          <a href="{% url 'postDetails' post.pk %}"> {{ post.title }}</a> -
          {{post.author.first_name}} {{post.author.last_name}} <br />
          {{ post.body }}
        </p>
        <hr />
        {% endfor %}
      </section>
    </div>
  </body>
</html>
