{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
    <title>Python ML Blog</title>
  </head>
</html>
<body>
  <a class="homeBtn" href="../index.html">Home</a>
  <div class="login">
    <h2>Login!</h2>
    <form class="logForm" method="POST" action="">
      {% csrf_token %}
      <ul>
        <li>
          <label for="loginUsername">Username: </label>
          <input class="loginUsername" type="text" />
        </li>
        <li>
          <label for="loginPassword">Password: </label>
          <input class="loginPassword" type="text" />
        </li>
        <input class="submit" type="submit" name="Login" value="Login" />
      </ul>
    </form>
  </div>
</body>
