body {
  background-color: #16393c;
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.authors {
  font-size: 1.5rem;
  font-weight: none;
}
.authors:hover {
  cursor: grabbing;
}
.titleH2:hover {
  color: black;
}
.pages ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.pages li {
  font-size: 1.5rem;
  list-style: none;
}
.pages li a {
  text-decoration: none;
  padding: 1rem;
  color: white;
  display: block;
}
.pages li:hover {
  text-decoration: underline wavy;
}
.titleImage {
  font-size: 2rem;
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  padding-top: 75px;
}
.mjGif {
  background-color: aqua;
  background-image: url("../Images/basketball.jpg");
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 2 / 1;
  width: 50%;
  filter: brightness(65%);
}

.mjGif:hover {
  background-image: url("../Images/Michael-Jordan-Dunks-Basketball-Animated-Gif-Hot.gif");
}

.homeBtn,
.addPostLink,
.addComment {
  text-decoration: none;
  color: white;
  font-size: larger;
}
.homeBtn:hover {
  text-decoration: underline wavy;
}
.line {
  margin-top: 5rem;
}
.regTitle,
.logTitle {
  display: block;
  position: relative;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2em;
}
.regTitle:hover {
  text-shadow: 2px 2px 8px red;
}
.regForm,
.logForm {
  text-align: center;
  background-color: #8391914f;
  margin-left: 28%;
  margin-right: 30%;
  outline: 5px solid #4a4a4a4f;
}
.helptext {
  display: none;
}
.regForm ul,
.logForm ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.regForm a,
.logForm a {
  text-decoration: underline solid;
  text-decoration-thickness: calc(3px);
  color: whitesmoke;
}
.regForm p,
.logForm p {
  margin: 2rem;
  font-size: 2rem;
}
.submit {
  font-size: larger;
}
.blogSection {
  font-size: 2em;
  padding-left: 5%;
  padding-right: 5%;
}
.blogSection p a {
  color: cornflowerblue;
  font-size: 1.5em;
}
.blogSection p {
  margin-bottom: 2em;
}
.onePost a:hover {
  background-color: #215155;
}
.addPostLink:hover {
  text-decoration: underline;
  background-color: #215155;
}
.addComment:hover {
  text-decoration: underline;
  background-color: #215155;
}
.editOr a {
  text-decoration: none;
  font-size: large;
  color: white;
}
.postAuthor {
  font-weight: normal;
  text-decoration: underline;
  font-size: 1.5rem;
}
.postBody {
  text-align: center;
  margin: 2.5rem;
  font-size: 2rem;
}
.commentSection {
  font-size: 1.5rem;
  margin-left: 2.5rem;
  margin-top: 5%;
}
.commentSectionTitle {
  text-decoration: underline;
  text-decoration-thickness: thin;
}
