body {
  background-color: #16393c;
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.authors {
  font-size: 1.5rem;
  font-weight: none;
}
.authors:hover {
  cursor: grabbing;
}
.pages ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.pages li {
  font-size: 1.5rem;
  list-style: none;
}
.pages li a {
  text-decoration: none;
  padding: 1rem;
  color: white;
  display: block;
}
.pages li:hover {
  text-decoration: underline wavy;
}
.titleImage {
  font-size: 2rem;
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  padding-top: 75px;
}
.neuralNet {
  display: block;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 2 / 1;
  width: 60%;
  filter: brightness(65%);
}
.neuralNet:hover {
  filter: invert(75%);
}

.homeBtn {
  text-decoration: none;
  color: white;
  font-size: larger;
}
.homeBtn:hover {
  text-decoration: underline wavy;
}
.line {
  margin-top: 5rem;
}
.regTitle {
  display: block;
  position: relative;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2em;
}
.regTitle:hover {
  text-shadow: 2px 2px 8px red;
}
.regForm {
  text-align: center;
  background-color: #8391914f;
  margin-left: 28%;
  margin-right: 30%;
  outline: 5px solid #4a4a4a4f;
}
.helptext {
  display: none;
}
.regForm li {
  margin: 2rem;
  font-size: 2rem;
}
.submit {
  font-size: large;
}
